<div class="header clearfix">
				<a href="/" class="logo"></a>
				<ul class="menu">

					<li><a href="{% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %} active {% endif %}">домой</a></li>
					<li><a href="{% url 'products' %}" class="{% if request.resolver_match.url_name == 'products' %} active {% endif %}">продукты</a></li>
					<li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %} active {% endif %}">контакты</a></li>
					{% if request.user.is_authenticated %}
					<li><a href = "{% url 'auth:edit'%}">{{user.username}}</a></li>
					<li><a href = "{% url 'basket:view'%}">Корзина ({{request.user.basket.sum}})</a></li>
					{% if request.user.is_superuser %}
					<li><a href = "{% url 'adminka:view_users' %}">Админка</a></li>
					{%endif%}
					<li><a href = "{% url 'auth:logout'%}"> Выйти</a></li>
					{% else %}
					<li><a href = "{% url 'auth:login' %}">Войти </a></li>
					<li><a href = "{% url 'auth:register' %}">Регистрация </a></li>
					{% endif %}
				</ul>
				<a href="#" class="search"></a>
                <a href="#" class="basket"></a>
			</div>